---
title: المواضيع
icon: fa-th
order: 2
---
<p>
    
  هنا يمكنك البحث عن أي كلمة في المدونة وستظهر لك النتائج فورًا
  
</p>

  <div id="search-searchbar"></div>
  <div class="post-list" id="search-hits"></div>
{% include algolia.html %}

</br>
<p>أو يمكنك اختيار أحد المواضيع التالية وسيظهر لك كل المقالات المناطة</p>
</br>
{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
    {% for post in category[1] %}
      <a href="{{ post.url }}"> | {{ post.title }} | </a>
    {% endfor %}
{% endfor %}
