<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}'
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }

  let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;

  const title = hit._highlightResult.title.value;

  let breadcrumbs = '';
  if (hit._highlightResult.headings) {
    breadcrumbs = hit._highlightResult.headings.map(match => {
      return `<span class="post-breadcrumb">${match.value}</span>`
    }).join(' > ')
  }

  const content = hit._highlightResult.html.value;

  return `
  <section>
    <div class="container">
      <span class="post-meta">${date}</span>
      <h2><a class="post-link" href="${url}">${title}</a></h2>
      {{#breadcrumbs}}<a href="${url}" class="post-breadcrumbs">${breadcrumbs}</a>{{/breadcrumbs}}
      <div class="post-snippet">${content}</div>
    </div>
    </section
  `;
}


search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'ابحث في المدونة',
    poweredBy: true // This is required if you're on the free Community plan
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

search.start();
</script>

<style>
.ais-search-box {
  max-width: 80%;
  margin-bottom: 15px;
  direction: rtl;
}
.post-item {
  margin-bottom: 30px;
}
.post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
}
.post-breadcrumbs {
  color: #424242;
  display: block;
}
.post-breadcrumb {
  font-size: 18px;
  color: #424242;
}
.post-breadcrumb .ais-Highlight {
  font-weight: bold;
  font-style: normal;
}
.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
}
.post-snippet img {
  display: none;
}
#main {
  margin-left: 375px;
}
#main > section, #main div {
  text-align: center;
  direction: rtl;
}
#main > article {
  text-align: right;
  direction: rtl;
}
#main > article header p {
  font-style: italic;
}
#main > section, #main article {
  margin: 0;
  overflow: hidden;
  padding: 4em 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  background-image: url("images/overlay.png");
}
#main > section.dark, #main article.dark {
  color: #ddd;
  color: rgba(255, 255, 255, 0.75);
}
#main > section.dark h2, #main > section.dark h3, #main > section.dark h4, #main > section.dark h5, #main > section.dark h6, #main article.dark h2, #main article.dark h3, #main article.dark h4, #main article.dark h5, #main article.dark h6 {
  color: inherit;
}
#main > section.dark strong, #main article.dark strong {
  color: #fff;
  border-color: inherit;
}
#main > section.dark a, #main article.dark a {
  color: #fff;
  border-color: inherit;
}
#main > section.dark a:hover, #main article.dark a:hover {
  border-bottom-color: rgba(255, 255, 255, 0);
}
#main > section.cover, #main article.cover {
  padding: 6em 0;
  position: relative;
  z-index: 0;
}
#main > section.cover img.back, #main article.cover img.back {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
#main > section.shade-one, #main article.shade-one {
  background-color: #81918E;
}
#main > section.shade-two, #main article.shade-two {
  background-color: #f5fafa;
}
#main > section.shade-three, #main article.shade-three {
  background-color: #ecf1f1;
}
#main > section.shade-four, #main article.shade-four {
  background-color: #e8edec;
}
</style>
