---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
<div id="search-searchbar"></div>

  <div class="post-list" id="search-hits">	</div>
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _post.author -%}{{- _post.author }} | {% endif %}
			{%- assign m = _post.date | date: "%-m" -%}
{{- _post.date | date: " %-d " -}}
{%- case m -%}
  {%- when '1' -%}يناير
  {%- when '2' -%}فبراير
  {%- when '3' -%}مارس
  {%- when '4' -%}أبريل
  {%- when '5' -%}مايو
  {%- when '6' -%}يونيو
  {%- when '7' -%}يوليو
  {%- when '8' -%}أغسطس
  {%- when '9' -%}سبتمبر
  {%- when '10' -%}أكتوبر
  {%- when '11' -%}نوفمبر
  {%- when '12' -%}ديسمبر
{%- endcase -%}
{{- _post.date | date: " %Y " -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _post.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
{%- include algolia.html -%}


</div>